body {
  font-family: Lato;
  color: #FFFFFF;
}

.header{
  height: auto;
  width: 100%;
  position: fixed;
  padding: 30px 30px 30px;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  z-index: 2;
}

.content {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.header-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}

.references {
  display: flex;
  justify-content: center;
}

.references a{
  font-size: 14px;
  margin-right: 20px;
}

.references a:last-child{
  margin-right: 0;
}

.lang {
  display: flex;
  align-items: center;
}

.lang-logo{
  margin-right: 12px;
}

.lang span{
  margin-right: 12px;
} 

/*---------------------------*/

@media screen and (max-width: 700px){

  .header-items {
    flex-wrap: wrap;
  }

  .references{
    order: 2;
    width: 100%;
  }

}

@media screen and (max-width: 370px){

  .header{
    height: 80px;
  }

  .references{
    overflow: auto;
    justify-content: start;
  }

  .references::-webkit-scrollbar{
    display: none;
  } 

}

/*----------------------------------------*/

.sub{
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 200px 0;
}

.brand{
  font-weight: 700;
  font-size: 72px;
  padding-bottom: 40px;
}

.subscription{
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.img-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: -2;
}

.wrapper-pics{
  width: 100%;
  height: 100%;
}

.red-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
} 

/*----------------------------*/

@media screen and (max-width: 700px){

  .brand{
    font-size: 48px;

  }

  .subscription{
    font-size: 16px;
    line-height: 24px;
  }

}

@media screen and (max-width: 370px){

  .brand{
    font-size: 32px;
  }

  .subscription{
    font-size: 12px;
    line-height: 16px;
  }

}

/*--------------------------*/

.present-body{
  display: flex;
  justify-content: space-between;
  padding: 140px 0 50px;
}

.cont-desc{
  padding-right: 125px;
  padding-left: 50px;
  color: #000000;
} 

.easy{
  font-weight: 600;
  font-size: 36px;
  padding-bottom: 25px;
}

.description{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 15px;
}

.extra{
  color:#ED4C5C;
}

.img-but{
  padding-right: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-present{
  max-width: 445px;
  width: 100%;
}

.pics{
  width: 100%;
}

.play-icon{
  position: absolute;
  transform: translate(-50%, 0);
}

@media screen and (max-width: 950px){

  .present-body{
    justify-content: center;
    padding-top: 100px;
  }

  .cont-desc{
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .present-body{
    flex-wrap: wrap;
  }

  .img-but{
    order: 2;
    max-width: 445px;
    width: 100%;
    padding: 0;
  }

}

/* ------------------------ */

.content-bg{
  background: #FAFAFA;
  padding-bottom: 200px;
  height: auto;
  width: 100%;
}

.features-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ftrs{
  padding: 65px 0;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  color: #000000;
}

.img-block{
  justify-content: center;
  padding-right: 20px;
}

.img-block:first-child{
  padding-left: 10px;
}

.img-block:last-child{
  padding-right: 10px;
}

.together{
  position: relative;
}

.item-desc{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -45%);
  background: #FFFFFF;
  color: #000000;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 290px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.item-header{
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}

.item-sentence{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding-bottom: 20px;
}

.read-more{
  display: block;
  color: #ED4C5C;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

@media screen and (max-width: 1115px){

  .content-bg{
    padding-bottom: 100px;
  }

  .features-items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-block{
    justify-content: center;
    width: 100%;
    padding: 0;
    padding-bottom: 50px;
  }

  .img-block:first-child{
    padding: 0;
    padding-bottom: 50px;
  }
  
  .img-block:last-child{
    padding: 0;
    padding-bottom: 50px;
  }

  .together{
    padding: 0 20px;
  }

  .item-pics{
    min-height: 350px;
    min-width: 250px;
    width: 100%;
    height: 100%;
  }

  .item-desc{
    transform: translate(-50%, -90%);
    max-width: 400px;
    max-height: 200px;
  }

  .item-header{
    font-size: 20px;
  }

  .item-sentence{
    font-size: 14px;
  }  

}

















